.vs
**/*.suo
bin/
obj/
packages/
CactbotOverlay/CactbotOverlay.csproj.user
CactbotOverlay/ThirdParty/*/*.pdb
CactbotOverlay/ThirdParty/*/*.dll
CactbotOverlay/ThirdParty/*/*.exe
CactbotOverlay/ThirdParty/*/*.xml
publish/
__pycache__
node_modules
package-lock.json
.idea/*
.idea/
*.iml
.DS_Store